.entrada {
  font-size: 1.5rem;
  padding: 5 5 5 5;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

button {
  margin-top: 30px;
  width: 300px;
}

.resultado-class {
  font-size: 1.2rem;
  padding: 5 5 5 5;
  width: 50%;
  margin-left: 25%;
}

.resultado-label{
  font-size: 2rem;
  margin-top: 30px;
}

.entrada-label{
  font-size: 2rem;
  margin-top: 30px;
}